
body{
  font-family: Helvetica;
  margin: 0;
}

.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.indent {
  margin-left:20px;
}

.card {
  background-color:#4dffa6;
  border: 1px solid black;
  height: 200px;
  width: 260px !important;
  margin-bottom: 20px;
}

.cardHeader {
  background-color: #6699ff;
  font-size:14pt;
  color:white;
  padding:5px;
}

.cardBody {
  padding-top: 3px;
  padding-left: 5px;
}


.cardClose {
  color: white;
  font-weight:bold;
  margin-right:5px;
}

.close {
  opacity: 1.0;
}